<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<head>
  <title>Home</title>
</head>
<body>

<div class="row">
  <div class="col-sm-5"></div>
  <div class="col-sm-6">
    <p th:if="${time != null}">
      <span th:text="${time}"/>
    </p>
  </div>
</div>

<section class="my-5">
  <div class="container">
    <div class="row">
      <fieldset>
        <form action="#" th:action="@{/crypto}" method="post" th:object="${formData}">
          <legend>Encryption/Decryption</legend>
          <textarea type="text" placeholder="Text" rows="10" cols="35" th:field="*{text}"/><br/>
          <button class="inverse" type="submit">Execute Cryptography</button>
          <select th:field="*{mode}">
            <option th:value=1 th:text="Encrypt"></option>
            <option th:value=2 th:text="Decrypt"></option>
          </select>
          <p th:if="${cryptoResult != null}">
            <span class="circular" th:text="${cryptoResult}"/>
          </p>
        </form>
      </fieldset>
    </div>
  </div>
</section>


<section class="my-5">
  <div class="container">
    <div class="row">
      <!--      <div class="col-md-8 mx-auto">-->
      <fieldset>
        <legend>File Encryption/Decryption</legend>
        <p class="alert alert-primary" th:if="${message ne null}" th:text="${message}"></p>
        <form action="#" th:action="@{/asy/crypto-file}" method="post" th:object="${formData}"
              enctype="multipart/form-data">
          <input type="file" name="file" class="form-control-file"><br>
          <p>
            <input type="password" placeholder="Password" cols="35" th:field="*{password}"><br>
          </p>
          <button class="inverse" type="submit">Execute Cryptography</button>
          <select th:field="*{mode}">
            <option th:value=1 th:text="Encrypt"></option>
            <option th:value=2 th:text="Decrypt"></option>
          </select>
        </form>
      </fieldset>
    </div>
  </div>
</section>

</body>
</html>