<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<head>
  <title>Home</title>
</head>
<body>

<p th:if= "${time != null}">
  <span th:text="${time}" />
</p>

<form action="#" th:action="@{/crypto}" method="post" th:object="${formData}">
  <label>Text:</label>
  <input type="text" th:field="*{text}" />

  <select th:field="*{mode}">
    <option th:value=1 th:text="Encrypt"></option>
    <option th:value=2 th:text="Decrypt"></option>
  </select>

  <br/>
  <button type="submit">Encrypt</button>
</form>
<p th:if= "${cryptoResult != null}">
  Result: <span th:text="${cryptoResult}" />
</p>


</body>
</html>